[defaults]
inventory = ./inventory/hosts.yml
roles_path = ./roles
remote_user = root  # 初始配置需要 root 权限
host_key_checking = False

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes
pipelining = True
